<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Pets</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Espécie</th>
          <th>Porte</th>
          <th>Idade</th>
          <th>Cadastro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets | async">
          <td>{{pet.id}}</td>
          <td>{{pet.nome}}</td>
          <td>{{pet.especie}}</td>
          <td>{{pet.porte}}</td>
          <td>{{pet.ano}}</td>
          <td>{pet.status}}</td>

          <td><button (click)="deletePet(pet.id)" class="btn btn-danger">Status</button>
              <button (click)="updatePet(pet.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
              <button (click)="petDetails(pet.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>