<h3>Update Garantia</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome do Cliente</label>
      <input type="text" class="form-control" id="nomeCliente" required [(ngModel)]="garantia.nomeCliente" name="nomeCliente">
    </div>

    <div class="form-group">
      <label for="name">Endereço</label>
      <input type="text" class="form-control" id="endCliente" required [(ngModel)]="garantia.endCliente" name="endCliente">
    </div>

    <div class="form-group">
      <label for="name">Cidade</label>
      <input type="text" class="form-control" id="cidadeCliente" required [(ngModel)]="garantia.cidadeCliente" name="cidadeCliente">
    </div>

    <div class="form-group">
      <label for="name">Estado</label>
      <input type="text" class="form-control" id="estadoCliente" required [(ngModel)]="garantia.estadoCliente" name="estadoCliente">
    </div>

    <div class="form-group">
      <label for="name">Bairro</label>
      <input type="text" class="form-control" id="bairroCliente" required [(ngModel)]="garantia.bairroCliente" name="bairroCliente">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailCliente" required [(ngModel)]="garantia.emailCliente" name="emailCliente">
    </div>
    <div class="form-group">
      <label for="name">CPF</label>
      <input type="text" class="form-control" id="cpfCliente" required [(ngModel)]="garantia.cpfCliente" name="cpfCliente">
    </div>

    <div class="form-group">
      <label for="name">CEP</label>
      <input type="text" class="form-control" id="cepCliente" required [(ngModel)]="garantia.cepCliente" name="cepCliente">
    </div>

    <div class="form-group">
      <label for="name">IMEI do Produto</label>
      <input type="text" class="form-control" id="imeiProduto" required [(ngModel)]="garantia.imeiProduto" name="imeiProduto">
    </div>

    <div class="form-group">
      <label for="name">Nome do Produto</label>
      <input type="text" class="form-control" id="nomeProduto" required [(ngModel)]="garantia.nomeProduto" name="nomeProduto">
    </div>

    <div class="form-group">
      <label for="name">Descrição do Produto</label>
      <input type="text" class="form-control" id="descricaoProduto" required [(ngModel)]="garantia.descricaoProduto" name="descricaoProduto">
    </div>
    <div class="form-group">
      <label for="name">Status do Produto</label>
      <select class="form-control" id="statusProduto" required [(ngModel)]="garantia.statusProduto" name="statusProduto">
          <option>NOVO</option>
          <option>USADO</option>
      </select>
  </div>
    <div class="form-group">
      <label for="name">Quantidade do Produto</label>
      <input type="number" class="form-control" id="quantidadeProduto" required [(ngModel)]="garantia.quantidadeProduto" name="quantidadeProduto">
    </div>

    <div class="form-group">
      <label for="name">Valor do Produto</label>
      <input type="number" class="form-control" id="valorProduto" required [(ngModel)]="garantia.valorProduto" name="valorProduto">
    </div>
    <div class="form-group">
      <label for="name">Forma de Pagamento</label>
      <select class="form-control" id="formaPagamento" required [(ngModel)]="garantia.formaPagamento" name="formaPagamento">
          <option>CARTAO_CREDITO</option>
          <option>CARTAO_DEBITO</option>
          <option>DINHEIRO</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Forma de Entrega</label>
      <select class="form-control" id="formaEntrega" required [(ngModel)]="garantia.formaEntrega" name="formaEntrega">
          <option>LOJA</option>
          <option>ENTREGA_MESMA_CIDADE</option>
          <option>ENTREGA_OUTRA_CIDADE</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Data de Entrega</label>
      <input type="text" class="form-control" id="dataEntrega" required [(ngModel)]="garantia.dataEntrega" name="dataEntrega">
    </div>

    <div class="form-group">
      <label for="name">Tempo de Garantia</label>
      <input type="number" class="form-control" id="tempoGarantia" required [(ngModel)]="garantia.tempoGarantia" name="tempoGarantia">
    </div>
    <div class="form-group">
      <label for="name">Valor do Frete</label>
      <input type="number" class="form-control" id="valorFrete" required [(ngModel)]="garantia.valorFrete" name="valorFrete">
    </div>

    <div class="form-group">
      <label for="name">Valor do Desconto</label>
      <input type="number" class="form-control" id="valorDesconto" required [(ngModel)]="garantia.valorDesconto" name="valorDesconto">
    </div>

    <div class="form-group">
      <label for="name">Total da Venda</label>
      <input type="number" class="form-control" id="totalVenda" required [(ngModel)]="garantia.totalVenda" name="totalVenda">
    </div>
   <div class="form-group">
      <label for="name">Status da Garantia</label>
      <select class="form-control" id="statusDelete" required [(ngModel)]="garantia.statusDelete" name="statusDelete">
          <option>ATIVO</option>
          <option>INATIVO</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>

