<h3>Update Pets</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome do Pet</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="pet.nome" name="nome">
    </div>

    <div class="form-group">
      <label for="name">Espécie</label>
      <input type="text" class="form-control" id="especie" required [(ngModel)]="pet.especie" name="especie">
    </div>
    <div class="form-group">
      <label for="name">Porte</label>
      <select class="form-control" id="porte" required [(ngModel)]="pet.porte" name="porte">
        <option>PEQUENO</option>
        <option>MEDIO</option>
        <option>GRANDE</option>
      </select>
      <div class="form-group">
        <label for="name">Data de Nascimento</label>
        <input type="date" class="form-control" id="data" required [(ngModel)]="pet.dateNascimento" name="data">
      </div>
    </div>
    <div class="form-group">
      <label for="name">Status do Cadastro</label>
      <select class="form-control" id="status" required [(ngModel)]="pet.status" name="status">
        <option>ATIVO</option>
        <option>INATIVO</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>

