<h2>Detahes da Garantia</h2> 

<hr/>
<div *ngIf="garantia">
  <div>
    <label><b>Código: </b></label> {{garantia.id}}
  </div>
  <div>
    <label><b>Nome: </b></label> {{garantia.nomeCliente}}
  </div>
  <div>
    <label><b>Endereço: </b></label> {{garantia.endCliente}}
  </div>
  <div>
    <label><b>Cidade: </b></label> {{garantia.cidadeCliente}}
  </div> 
  <div>
    <label><b>Estado: </b></label> {{garantia.estadoCliente}}
  </div>
  <div>
    <label><b>Bairro: </b></label> {{garantia.bairroCliente}}
  </div>
  <div>
    <label><b>Email: </b></label> {{garantia.emailCliente}}
  </div>
  <div>
    <label><b>CPF: </b></label> {{garantia.cepCliente}}
  </div>  
  <div>
    <label><b>CEP: </b></label> {{garantia.cepCliente}}
  </div>
  <div>
    <label><b>IMEI: </b></label> {{garantia.imeiProduto}}
  </div>
  <div>
    <label><b>Nome do Produto: </b></label> {{garantia.nomeProduto}}
  </div>
  <div>
    <label><b>Descrição do Produto: </b></label> {{garantia.descricaoProduto}}
  </div>  
  <div>
    <label><b>Status do Produto: </b></label> {{garantia.statusProduto}}
  </div>
  <div>
    <label><b>Quantidade do Produto: </b></label> {{garantia.quantidadeProduto}}
  </div>
  <div>
    <label><b>Valor do Produto: </b></label> {{garantia.valorProduto}}
  </div>
  <div>
    <label><b>Forma de Pagamento: </b></label> {{garantia.formaPagamento}}
  </div>
  <div>
    <label><b>Forma de Entrega: </b></label> {{garantia.formaEntrega}}
  </div>  
  <div>
    <label><b>Data de Entrega: </b></label> {{garantia.dataEntrega}}
  </div>
  <div>
    <label><b>Tempo de Garantia: </b></label> {{garantia.tempoGarantia}}
  </div>
  <div>
    <label><b>Valor do Frete: </b></label> {{garantia.valorFrete}}
  </div>
  <div>
    <label><b>Valor do Desconto: </b></label> {{garantia.valorDesconto}}
  </div>
  <div>
    <label><b>Total da Venda: </b></label> {{garantia.totalVenda}}
  </div>
  <div>
    <label><b>Status da Garantia: </b></label> {{garantia.statusDelete}}
  </div>     
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar para lista</button><br>


