<h2>Detahes do Pet</h2> 

<hr/>
<div *ngIf="pet">
  <div>
    <label><b>Código: </b></label> {{pet.id}}
  </div>
  <div>
    <label><b>Nome: </b></label> {{pet.nome}}
  </div>
  <div>
    <label><b>Espécie: </b></label> {{pet.especie}}
  </div>
  <div>
    <label><b>Porte: </b></label> {{pet.porte}}
  </div> 
  <div>
    <label><b>Idade: </b></label> {{pet.ano}}
  </div>
  <div>
    <label><b>Cadastro: </b></label> {{pet.status}}
  </div>
     
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar para lista</button><br>


