<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Garantia Ativo</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Produto</th>
          <th>Quant</th>
          <th>Valor Total</th>
          <th>Status da Garantia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let garantia of garantias | async">
          <td>{{garantia.id}}</td>
          <td>{{garantia.nomeCliente}}</td>
          <td>{{garantia.cpfCliente}}</td>
          <td>{{garantia.nomeProduto}}</td>
          <td>{{garantia.quantidadeProduto}}</td>
          <td>{{garantia.totalVenda}}</td>
          <td>{{garantia.statusDelete}}</td>

          <td><button (click)="deleteGarantia(garantia.id)" class="btn btn-danger">Status</button>
              <button (click)="updateGarantia(garantia.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
              <button (click)="garantiaDetails(garantia.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

